
<div class='addUsers'>
    {{#with member}}
    <form method="post">
        First name:
            <input type="text" name="firstname"value={{firstname}}><br>
        Last name:
            <input type="text" name="surname" value={{surname}}><br>
        Address:
            <input type="text" name="address" value={{address}}><br>
        Zipcode:
            <input type="text" name="zipcode" value={{zipcode}}><br>
        Telephone:
            <input type="text" name="telephone" value={{telephone}}><br>
        <input type="submit" value="Submit">
    </form>
    {{/with}}
</div>



