<div class="userpg">
    <h1 class='title'>{{Title}}</h1>
    <div>
        <h1>Members Page </h1>
        <form>
            First name:<br>
            <input type="text" name="firstname"><br>
            Last name:<br>
            <input type="text" name="lastname"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    
    <div>
        <button onclick="showAll" value="Show All Users" class="memberslist"></button>
        {{!-- <button onclick="myFunc('{{getThis}}')">Show All members</button> --}}

    </div>
    <div>
        <input type="submit" value="Add User">
    </div>

        <div class="memberslist">
            {{#each members}}
            <ul>
            <strong><p>Surname: {{surname}} , First Name: {{firstname}}</p></strong>
                <div class='dropdown'>
                    <button class='dropbtn'>Member Info</button>
                    <div id="memberDropdown" class='dropdown-content'>
                        <li><p>MemberID: {{memid}}</p></li>
                        <li><p>Address: {{address}}</p></li>
                        <li><p> Zip-Code: {{zipcode}}</p></li>
                        <li><p> Telephone: {{telephone}}</p></li>
                        <li><p> Join Date: {{joindate}}</p></li>
                    </div>
                </div>
                <button class="edit"><a href="/users/{{{memid}}}/edit">edit</a></button>
            </ul>
            {{/each}}
        </div>
        
</div>
